<a href="https://colab.research.google.com/github/rameenirfanshaikh/Pandas/blob/main/loadingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
train=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
train.head(43)

    longitude  latitude  ...  median_income  median_house_value
0     -114.31     34.19  ...         1.4936             66900.0
1     -114.47     34.40  ...         1.8200             80100.0
2     -114.56     33.69  ...         1.6509             85700.0
3     -114.57     33.64  ...         3.1917             73400.0
4     -114.57     33.57  ...         1.9250             65500.0
5     -114.58     33.63  ...         3.3438             74000.0
6     -114.58     33.61  ...         2.6768             82400.0
7     -114.59     34.83  ...         1.7083             48500.0
8     -114.59     33.61  ...         2.1782             58400.0
9     -114.60     34.83  ...         2.1908             48100.0
10    -114.60     33.62  ...         2.6797             86500.0
11    -114.60     33.60  ...         1.6250             62000.0
12    -114.61     34.84  ...         2.1571             48600.0
13    -114.61     34.83  ...         3.2120             70400.0
14    -114.63     32.76  ...         0.8585             45000.0
15    -114.65     34.89  ...         1.6991             69100.0
16    -114.65     33.60  ...         2.9653             94900.0
17    -114.65     32.79  ...         0.8571             25000.0
18    -114.66     32.74  ...         1.2049             44000.0
19    -114.67     33.92  ...         1.2656             27500.0
20    -114.68     33.49  ...         1.6395             44400.0
21    -114.73     33.43  ...         0.8964             59200.0
22    -114.94     34.55  ...         1.6250             50000.0
23    -114.98     33.82  ...         3.2097             71300.0
24    -115.22     33.54  ...         1.6250             53500.0
25    -115.32     32.82  ...         3.6528            100000.0
26    -115.37     32.82  ...         3.5735             71100.0
27    -115.37     32.82  ...         1.9375             80900.0
28    -115.37     32.81  ...         1.7604             68600.0
29    -115.37     32.81  ...         2.3594             74300.0
30    -115.38     32.82  ...         1.9939             65800.0
31    -115.38     32.81  ...         1.8958             67500.0
32    -115.39     32.76  ...         6.2558            146300.0
33    -115.40     32.86  ...         3.3182            113800.0
34    -115.40     32.70  ...         1.6838             95800.0
35    -115.41     32.99  ...         3.4038            107800.0
36    -115.46     33.19  ...         1.0000             40000.0
37    -115.48     32.80  ...         2.6172             88500.0
38    -115.48     32.68  ...         2.3319             91200.0
39    -115.49     32.87  ...         3.3583            102800.0
40    -115.49     32.69  ...         1.8990             64000.0
41    -115.49     32.67  ...         1.1311             84700.0
42    -115.49     32.67  ...         1.3750             70100.0

[43 rows x 9 columns]

In [ ]:
pd.set_option('display.maximum', 23)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.align

<bound method DataFrame.align of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>